/target
.browser/LibreWolf/xul.dll
.browser/LibreWolf/vcruntime140_1.dll
.browser/LibreWolf/vcruntime140.dll
.browser/LibreWolf/uninstall/helper.exe
.browser/LibreWolf/softokn3.dll
.browser/LibreWolf/removed-files
.browser/LibreWolf/private_browsing.VisualElementsManifest.xml
.browser/LibreWolf/private_browsing.exe
.browser/LibreWolf/precomplete
.browser/LibreWolf/plugin-container.exe
.browser/LibreWolf/platform.ini
.browser/LibreWolf/onnxruntime.dll
.browser/LibreWolf/omni.ja
.browser/LibreWolf/nss3.dll
.browser/LibreWolf/notificationserver.dll
.browser/LibreWolf/nmhproxy.exe
.browser/LibreWolf/msvcp140.dll
.browser/LibreWolf/mozinference.dll
.browser/LibreWolf/mozglue.dll
.browser/LibreWolf/mozavutil.dll
.browser/LibreWolf/mozavcodec.dll
.browser/LibreWolf/Microsoft.UI.Windowing.dll
.browser/LibreWolf/Microsoft.UI.Windowing.Core.dll
.browser/LibreWolf/Microsoft.UI.Input.dll
.browser/LibreWolf/Microsoft.UI.Composition.OSSupport.dll
.browser/LibreWolf/Microsoft.Internal.FrameworkUdk.dll
.browser/LibreWolf/Microsoft.InputStateManager.dll
.browser/LibreWolf/marshal.dll
.browser/LibreWolf/librewolf.exe
.browser/LibreWolf/librewolf.cfg
.browser/LibreWolf/libGLESv2.dll
.browser/LibreWolf/libEGL.dll
.browser/LibreWolf/lgpllibs.dll
.browser/LibreWolf/InstallationDirLayout.dll
.browser/LibreWolf/installation_dir_layout/versioned/InstallationDirLayout.dll
.browser/LibreWolf/gmp-clearkey/0.1/manifest.json
.browser/LibreWolf/gmp-clearkey/0.1/clearkey.dll
.browser/LibreWolf/gkcodecs.dll
.browser/LibreWolf/freebl3.dll
.browser/LibreWolf/fonts/TwemojiMozilla.ttf
.browser/LibreWolf/firefox.VisualElementsManifest.xml
.browser/LibreWolf/dxcompiler.dll
.browser/LibreWolf/distribution/policies.json
.browser/LibreWolf/desktop-launcher/desktop-launcher.exe
.browser/LibreWolf/dependentlibs.list
.browser/LibreWolf/defaults/pref/channel-prefs.js
.browser/LibreWolf/CoreMessagingXP.dll
.browser/LibreWolf/browser/VisualElements/VisualElements_70.png
.browser/LibreWolf/browser/VisualElements/VisualElements_150.png
.browser/LibreWolf/browser/VisualElements/PrivateBrowsing_70.png
.browser/LibreWolf/browser/VisualElements/PrivateBrowsing_150.png
.browser/LibreWolf/browser/omni.ja
.browser/LibreWolf/application.ini
.browser/LibreWolf/AccessibleMarshal.dll
.browser/LibreWolf-WinUpdater.exe
.browser/LibreWolf-Portable.exe
bin/i2pd.exe
